@import "src/assets/styles/text";

.loading {
  text-align: center;

  &__icon {
    font-size: 30px;
    margin-bottom: 15px;
    color: #fff;
  }

  &__message {
    @include text-regular;
    color: #fff;
  }
}

.error {
  background-color: #f0f8ff;
  border-radius: 25px;
}

.header {
  @include title-h1;
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 25px;

  &__headline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__back-link {
    filter: drop-shadow(-1px -1px 0 rgba(0, 0, 0, 0.3));
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.thumbnail-info-requirements-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  column-gap: 20px;
  row-gap: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #aaa;
  padding-bottom: 10px;

  @media screen and (min-width: 610px) {
    padding-bottom: 30px;
  }

  @media screen and (max-width: 1025px) {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.game-thumbnail {
  width: 100%;
}

.game-information-wrapper {
  @media screen and (max-width: 610px) {
    border-top: 2px solid #aaa;
    padding-top: 10px;
  }

  @media screen and (min-width: 610px) {
    border-left: 2px solid #aaa;
    border-right: 2px solid #aaa;
    border-top: none;
    padding: 0 20px;
  }
}

.small-title {
  @include title-h2;
  margin-bottom: 5px;

  &__screenshots {
    @media screen and (min-width: 1440px) {
      text-align: center;
    }
  }
}

.game-info-wrapper {
  margin-bottom: 10px;
}

.game-info-title {
  @include text-regular;
  margin-bottom: 2px;
  font-weight: 700;

  &__info {
    font-weight: 400;
  }
}

.carousel {
  background-color: #23272b;

  &__image {
    border-bottom: 25px solid #23272b;
    box-sizing: border-box;
    margin: auto;
  }

  &__image-wrapper {
    //display: flex;
    //align-items: center;
  }
}

.screenshots-message {
  @include text-regular;
}
